.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: #aad3e9;
}

.card {
    margin: 15px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}


